body { font-weight: 300; overflow-x: hidden;}
span.material-symbols-outlined {
    font-variation-settings: "wght" 300;
}

$center : 85%;
$smallCenter : 75%;

$colorOrange : #ea6947;
$colorGreen : #5ac488;