#moveTop {
    width: 60px; height: 60px;
    position: fixed;
    bottom: 50px; right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $colorOrange;
    border-radius: 100%;
    z-index: 9999;
    transform: translateY(0) scale(0);   
    transition: all 0.5s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    a {
        span.arrowIcon {
            color: $colorOrange;
            font-size: 30px;
            transition: all 0.5s;
        }
    }
}

#moveTop.on {
    transform: translateY(0) scale(1);
    &:hover {
        background: $colorOrange;
        animation: moveTopHover 0.6s;
        a {
            span.arrowIcon {
                color: #fff;
            }
        }
    }
    @keyframes moveTopHover {
        0% { transform: translateY(0) scale(1);}
        50% { transform: translateY(-8px) scale(1);}
        100% { transform: translateY(0) scale(1);}
    }
}

#moveTop.colorChange {
    border: 2px solid #fff;
    background: #fff;
    &:hover {
        background: #fff;
        a {
            span.arrowIcon {
                color: $colorOrange;
            }
        }
    }
    a {
        span.arrowIcon {
            color: $colorOrange;
        }
    }
}

@media screen and (max-width: 1200px) {
    #moveTop {
        width: 60px; height: 60px;
        bottom: 30px; right: 30px;
        background: $colorOrange;
        border: 0;
        a {
            span.arrowIcon {
                color: #fff;
                font-size: 30px;
                transition: all 0.5s;
            }
        }
    }
    
    #moveTop.colorChange {
        border: 0;
    }
        
}

@media screen and (max-width: 820px) {
    #moveTop {
        width: 80px; height: 80px;
        bottom: 30px; right: 30px;
        background: $colorOrange;
        border: 0;
        a {
            span.arrowIcon {
                color: #fff;
                font-size: 45px;
                transition: all 0.5s;
            }
        }
    }
    
    #moveTop.colorChange {
        border: 0;
    }
        
}
@media screen and (max-width: 768px) {
    #moveTop {
        width: 50px; height: 50px;
        bottom: 20px; right: 20px;
        background: $colorOrange;
        border: 0;
        a {
            span.arrowIcon {
                color: #fff;
                font-size: 30px;
                transition: all 0.5s;
            }
        }
    }
    
    #moveTop.colorChange {
        border: 0;
    }
        
}