<%- include('../common/header.ejs', jsFiles=["/js/menu/drink.js"], cssFiles=[]) %>

<div id="container" class="drink">
    <div class="cont1 cont">
        <div class="center">
            <h2 class="topTitle poppins">DRINK</h2>
            <p class="topSubTitle">
                POKE ALL DAY의 맛있고 깔끔한<br>
                건강 음료들을 만나보세요.
            </p>
            <%- include('menuLocation.ejs') %>
        </div>
    </div>

    <div class="cont2 chooseMenu cont">
        <div class="center">
            <div class="menuList">
                <% for( let i = 0; i < 16; i++ ) { %>
                    <div class="list">
                        <div class="imgWrap">
                            <img src="">
                        </div>
                        <div class="textWrap">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('../common/moveTop.ejs') %>
</div>


<%- include('../common/footer.ejs') %>