<ul class="menuLocation">
    <li><a class="poppins" href="/menu/signature">SIGNATURE</a></li>
    <li><a class="poppins" href="/menu/poke">POKE</a></li>
    <li><a class="poppins" href="/menu/drink">DRINK</a></li>
    <li><a class="poppins" href="/menu/side">SIDE</a></li>
</ul>