<%- include('../common/header.ejs', jsFiles=[], cssFiles=[]) %>

<div id="container" class="signature">
    <div class="cont1 cont">
        <div class="center">
            <h2 class="topTitle poppins">SIGNATURE</h2>
            <p class="topSubTitle">
                맛도 건강도 사로잡은 균형잡힌 한 끼,<br>
                POKE ALL DAY의 시그니처 메뉴를 소개합니다.
            </p>
            <%- include('menuLocation.ejs') %>
        </div>
    </div>

    <div class="cont2 cont">
        <div class="center">
            <div class="menuList">
                <div class="list">
                    <div class="imgWrap">
                        <img src="/img/menu1.png" alt="">
                    </div>
                    <div class="textWrap">
                        <h3>현미밥 + 연어</h3>
                        <div class="menuInfo">
                            <p>칼로리 : 515kcal</p>
                            <p>단백질 : 28.37g</p>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="imgWrap">
                        <img src="/img/menu2.png" alt="">
                    </div>
                    <div class="textWrap">
                        <h3>야채만 + 두부</h3>
                        <div class="menuInfo">
                            <p>칼로리 : 377kcal</p>
                            <p>단백질 : 14.7g</p>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="imgWrap">
                        <img src="/img/menu3.png" alt="">
                    </div>
                    <div class="textWrap">
                        <h3>메밀면 + 불고기</h3>
                        <div class="menuInfo">
                            <p>칼로리 : 454kcal</p>
                            <p>단백질 : 21.97g</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../common/moveTop.ejs') %>
</div>


<%- include('../common/footer.ejs') %>