<div id="footer">
    <div class="center">
        <img src="/img/ft_logo.png">

        <p>
            주식회사 네오에프엔비 대표 : 김영환 사업자등록번호 : 681-81-02539 주소 : 서울 강남구 신사동 540-5 1층 대표전화 : 1811-7363 이메일 : neofnb_@naver.com
        </p>
        <p class="copyright">Copyright ⓒ 2021 주식회사 네오에프엔비 All rights reserved.</p>
    </div>
</div>