<%- include('../common/header.ejs', jsFiles=["/js/brand/about.js"], cssFiles=[]) %>

<div id="container" class="about">
    <div class="cont1 cont">
        <video autoplay muted loop>
            <source src="/img/brand/brand_video.mp4">
        </video>
    </div>
    
    <img class="circleImg" src="/img/brand/circleText.svg">

    <div class="cont2 cont">
        <div class="designText">
            <h2 class="leftTitle">POKE ALL DAY</h2>
            <h2 class="rightTitle">BRAND STORY</h2>
        </div>
        <div class="center">
            <ul class="storyMenu">
                <li class="on">
                    <img src="/img/brand/about_tab_1.jpg" alt="">
                    <div class="line green"></div>
                    <div class="menuText">
                        <div class="left">
                            <h2 class="poppins green">Part 01</h2>
                            <p class="poppins">The beginning of a brand</p>
                        </div>
                        <div class="right">
                            <div class="red"></div>
                            <div class="yellow"></div>
                            <div class="green"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/img/brand/about_tab_2.jpg" alt="">
                    <div class="line yellow"></div>
                    <div class="menuText">
                        <div class="left">
                            <h2 class="poppins yellow">Part 02</h2>
                            <p class="poppins">Growth through you</p>
                        </div>
                        <div class="right">
                            <div class="red"></div>
                            <div class="yellow"></div>
                            <div class="green"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/img/brand/about_tab_3.jpg" alt="">
                    <div class="line red"></div>
                    <div class="menuText">
                        <div class="left">
                            <h2 class="poppins red">Part 03</h2>
                            <p class="poppins">Our vision</p>
                        </div>
                        <div class="right">
                            <div class="red"></div>
                            <div class="yellow"></div>
                            <div class="green"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="storyContWrap">
                <div class="storyConts on">
                    <h2 class="green left">브랜드의 시작</h2>
                    <div class="right">
                        <p>포케올데이의 시작은 책임감이었습니다.</p>
    
                        <p>우리나라에선 아직 생소하기만 한 메뉴 포케, 저희는 포케를 발견하고 조금 이상한 사명감이 생겼답니다.</p>
                        
                        <p>이 건강하고 맛있는 하지만 생소한 음식을 한국에 알려야겠다! 덕분에 포케에 대한 지대한 집착이 시작되었어요.</p>
                        
                        <p>외국에서 빠르게 퍼져나가는 핫한 메뉴를 우리 입맛에 맞춰, 여러분께 전달하기 위해 먹고 또 먹어보며 수많은 연구와 개발을 진행했어요.</p>
                        
                        <p>더욱 맛있는 한 끼를 제공하고 싶은 마음 덕분에 2020년 9월, 저희는 그렇게 포케올데이가 되었답니다.</p>
                    </div>
                </div>
                <div class="storyConts">
                    <h2 class="left yellow">여러분을 통한 성장</h2>
                    <div class="right">
                        <p>저희는 고객님과 점주님들과 함께 성장해왔어요. 여러분과 걸어오며 배운 것이 있어요.</p>
                        <p>우리는 여러분의 맛있는 경험을 넘어 건강까지 책임을 질 의무가 있다는 것, 그리고 지구에 대한 관심과 노력을 시작해야 한다는 것이요!</p>
                        <p>저희 다회용기의 탄생은 여러분 덕분이에요.</p>
                        <p>번거롭고 무거운 양철그릇에 포케를 담아 가시는 모습을 보고 환경에 관심이 생겼고, 두손은 무거워도 마음은 가볍게 해줄 예쁜 다회용기가 필요하다고 느꼈거든요.</p>
                        <p>포케올데이는 앞으로도 여러분을 위한 발전을 멈추지 않을 거예요.</p>
                    </div>
                </div>
                <div class="storyConts">
                    <h2 class="left red">우리의 비전</h2>
                    <div class="right">
                        <p>여러분 덕분에 저희는 단순히 음식을 제공하는 기업에서, 여러분의 건강과 지구까지 생각하는 기업이 되려고 해요.</p>
                        <p>더 크고 멋진 목표를 만들어준 고객님들에게 감사한 마음뿐이랍니다.</p>

                        <p>결국은 저희는 처음과 같네요. 책임감이 전부인 브랜드.</p>
                        <p>더 나은 포케올데이를 만들어 준 여러분에게 좋은 메뉴로 보답해야 한다는 책임감.</p>
                        <p>그리고, 더 나은 지구를 위해 노력해야 한다는 책임감. 초심을 잃지 않고, 책임감을 갖고 나아가는 포케올데이가 되려고 해요.</p>
                        <p>포케올데이가 더 나은 방향으로 나아갈 수 있도록 지켜봐 주세요!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cont3 list1 cont">
        <div class="center">
            <div class="content">
                <div class="imgWrap">
                    <img src="/img/brand/about_list_1.jpg">
                </div>
                <div class="textWrap">
                    <p class="contsSub">핵심가치 01</p>
                    <h2 class="poppins contsMain">FRESH</h2>
                    <div class="rightCont">
                        <h3><span class="poppins">You are what you eat</span><br>당신이 먹는 것이 곧 당신이에요.</h3>
                        <p>당신의 식사가 가장 건강하고 맛있는 한끼가 되도록 채소의 출처, 유통, 세척, 보관까지 철저하게 관리합니다.</p>
                    </div>
                    <div class="rightCont">
                        <p class="project poppins">PROJECT #1</p>
                        <h3>포케올데이 x 닥터피엘</h3>
                        <p>‘야채를 세척하는 물은 깨끗할까?’ 라는 질문에서 시작되었어요.저희 포케올데이는 수돗물에 있는 녹물, 불순물까지 제거한 깨끗한 물을 발견했어요.<br>닥터피엘 필터와 콜라보를 통해 여러분에게 신선함을 제공할게요.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cont3 list2 cont">
        <div class="center">
            <div class="content">
                <div class="textWrap">
                    <p class="contsSub">핵심가치 02</p>
                    <h2 class="poppins contsMain">FUN<br>EXPERIENCE</h2>
                    <div class="rightCont">
                        <h3><span class="poppins">POKE TIME HAS TO BE YOUR FAVORITE TIME</span><br>포케를 먹는 시간이 가장 즐거워질거에요.</h3>
                        <p>식사도, 건강관리도 즐거운 경험이 되어야 한다고 생각해요.<br><br>포케올데이에서만 만날 수 있는 메뉴, 공간, 굿즈, 이벤트를 통해 즐거운 식사를 넘어 즐거운 경험을 선사합니다.</p>
                    </div>
                    <div class="rightCont">
                        <h3>FOR FUN EXPERIENCE,<br>COME AND SEE US</h3>
                        <div class="linkBoxWrap">
                            <div class="linkBox red">
                                <a class="poppins" href="#">
                                    <span class="linkText">MENU</span>
                                    <span class="material-symbols-outlined arrowIcon">arrow_forward</span>
                                </a>
                            </div>
                            <div class="linkBox green">
                                <a class="poppins" href="#">
                                    <span class="linkText">VISUALS</span>
                                    <span class="material-symbols-outlined arrowIcon">arrow_forward</span>
                                </a>
                            </div>
                            <div class="linkBox yellow">
                                <a class="poppins" href="#">
                                    <span class="linkText">EVENTS</span>
                                    <span class="material-symbols-outlined arrowIcon">arrow_forward</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="imgWrap">
                    <img src="/img/brand/about_list_2.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="cont3 list3 cont">
        <div class="center">
            <div class="content">
                <div class="imgWrap">
                    <img src="/img/brand/about_list_3.jpg">
                </div>
                <div class="textWrap">
                    <p class="contsSub">핵심가치 03</p>
                    <h2 class="poppins contsMain">SUSTAINA-<br>BILITY<span class="notos">(지속가능성)</span></h2>
                    <div class="rightCont">
                        <p class="project poppins">OUR PROJECTS</p>
                        <h3>FOR US, FOR EARTH</h3>
                        
                        <ul class="projectList">
                            <li>
                                <p class="number">#1</p>
                                <p class="date">launching~</p>
                                <p class="context">포케올데이 텀블러, 다회용기 출시</p>
                            </li>
                            <li>
                                <p class="number">#2</p>
                                <p class="date">2022.04</p>
                                <p class="context">식목일 기념 산불 피해 복구 프로젝트 진행</p>
                            </li>
                            <li>
                                <p class="number">#3</p>
                                <p class="date">2022.04</p>
                                <p class="context">지구의 날 기념 다회용기 지참 시 포케 무료 증정</p>
                            </li>
                            <li>
                                <p class="number">#4</p>
                                <p class="date">2022.06</p>
                                <p class="context">한강 플로깅 활동 후 포케, 친환경 굿즈 무료 증정</p>
                            </li>
                            <li>
                                <p class="number">#5</p>
                                <p class="date">2022.06</p>
                                <p class="context">	환경의 날 기념 타포린백 선착순 증정</p>
                            </li>
                            <li>
                                <p class="number">#6</p>
                                <p class="date">2022.09</p>
                                <p class="context">그린포니2기 광안리플로깅 진행</p>
                            </li>
                            <li>
                                <p class="number">#7</p>
                                <p class="date">2023.04</p>
                                <p class="context">비건포케 출시</p>
                            </li>
                            <li>
                                <p class="number">#8</p>
                                <p class="date">2023.04</p>
                                <p class="context">그린포니 3기 서울숲플로깅 진행</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cont4 cont">
        <img src="/img/brand/about_last_1.jpg">
        <img src="/img/brand/about_last_2.jpg">
    </div>

    <%- include('../common/moveTop.ejs') %>
</div>


<%- include('../common/footer.ejs') %>